QUESTION 1:

In [1]:
list=[]
for x in range(10):
    x=int(input())
    if x % 2 == 0:
        list.append(x)
print(list)

45
34
76
342
76
71
45
70
98
43
[34, 76, 342, 76, 70, 98]

QUESTION 2: LIST COMPREHENSION

In [ ]:
s= [x**2 for x in range(10)]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
cubes=[x**3 for x in range(8)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343]

QUESTION 3:

In [2]:
n=int(input())
print()
d=dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

9

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

QUESTION 4:

In [ ]:

import math
#Init vars
pos=[0,0]
moves={"UP":[0,1],
       "DOWN":[0,-1],
       "LEFT":[-1,0],
       "RIGHT":[1,0]}

#Set inputs
UP = int(input())
DOWN = int(input())
LEFT = int(input())
RIGHT = int(input())
data = ["UP 5",
    "DOWN 3",
    "LEFT 3",
    "RIGHT 2"]

#Move robot on valid moves
for inp in data:
    parts=inp.split()    
    mv=parts[0]
    val=parts[1]
    if mv in moves and val.isnumeric():
        pos[0] = pos[0]+ moves[mv][0]*int(val)
        pos[1] = pos[1]+ moves[mv][1]*int(val)

#get distance     
distance=math.sqrt(pos[0]**2 + pos[1]**2)
print(round(distance), "from [0,0] to",pos)

5
3
3
2
2 from [0,0] to [-1, 2]

In [ ]:
import math

position = [0,0]
direction = ['+Y','-Y','-X','+X']
magnitude = [5,3,3,2]
i = 0

while i < len(direction):
    if direction[i] == '+Y': position[0] += magnitude[i]
    elif direction[i] == '-Y': position[0] -= magnitude[i]
    elif direction[i] == '+X': position[1] += magnitude[i]
    elif direction[i] == '-X': position[1] -= magnitude[i]
    else: pass
    i += 1

print(round(math.sqrt(position[1]**2+position[0]**2)))

2