QUESTION 1:

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.4

QUESTION 2:

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

 QUESTION 4:

In [ ]:
import seaborn as sns
print("Datasets in seaborn are:",sns.get_dataset_names())
print() 
ds=sns.load_dataset('mpg')
print(ds)

Datasets in seaborn are: ['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

QUESTION 5:

In [ ]:
ds['origin'].unique() 
#The origin cars in the 'might datasets are USA, Japan, Europe

array(['usa', 'japan', 'europe'], dtype=object)

QUESTION 6:

In [ ]:
ds[ds.origin == 'usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]

QUESTION 3:

In [ ]:
ds.reset_index(level=0)

     index   mpg  cylinders  ...  model_year  origin                       name
0        0  18.0          8  ...          70     usa  chevrolet chevelle malibu
1        1  15.0          8  ...          70     usa          buick skylark 320
2        2  18.0          8  ...          70     usa         plymouth satellite
3        3  16.0          8  ...          70     usa              amc rebel sst
4        4  17.0          8  ...          70     usa                ford torino
..     ...   ...        ...  ...         ...     ...                        ...
393    393  27.0          4  ...          82     usa            ford mustang gl
394    394  44.0          4  ...          82  europe                  vw pickup
395    395  32.0          4  ...          82     usa              dodge rampage
396    396  28.0          4  ...          82     usa                ford ranger
397    397  31.0          4  ...          82     usa                 chevy s-10

[398 rows x 10 columns]